<div class="books-main">
  <% if book.category_id == 2 %>
    <div class="books-contents v01">
    <%= book.name%>
    </div>
  <% else %>
    <div class="books-contents v02">
    <%= book.name%>
    </div>
  <% end %>
</div>