<div class="side-bar-header">
  <div class='search-bar-contents'>
    <%= link_to image_tag("logo.png", class:"furima-icon"), "/" %>
  </div>
</div>

<div class="rooms">
    <p class='service-explain'>
      ログイン
    </p>
    <p class='service-explain'>
      新規登録
    </p>
</div>