<div class='main'>
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>

  <div class='title-contents'>
   <% if user_signed_in? %>
    <p class='service-title'>
     今日もおつかれさまでした
    </p>
   <% else %>
    <p class='service-title'>
     たまにはゆっくり<span class="impact">読書</span>しませんか?
    </p>
   <% end %>
    <p class='service-explain'>
      読書の記録を自由に。
    </p>
    <p class='service-explain'>
      あなただけの本棚をつくってみましょう。
    </p>
    <div class='store-btn'>
    </div>
  </div>

