<%#= render "shared/header" %>
<div class='main'>
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <p class='service-title txt01'>
     今日はゆっくり<span class="impact">読書</span>しませんか?
    </p>
    <p class='service-explain txt02'>
      仮
    </p>
    <p class='service-explain txt03'>
      仮
    </p>
    <div class='store-btn'>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>
