a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
  display: flex;
}

.furima-icon {
  width: 12vw;
  margin-right: 10vw;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 85vw;
  height: 100vh;
  background-image: image-url('publicdomainq-0003837oilyxa.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 2vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
  font-family: "Hannari"; 
}

.impact{
  color: brown;
  
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}



.side-bar {
  background-color: #253141;
  width: 15vw;
  height: 100vh;
}

.side-bar-header {
  background-color: #253141;
  height: 120px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 120px);
  padding: 0 20px;
  overflow: scroll;
  color: #fff;
}

