a {
  text-decoration: none;
}

.main {
  display: flex;
}

.furima-icon {
  width: 12vw;
  margin-right: 10vw;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 85vw;
  height: 100vh;
  background-image: image-url('publicdomainq-0003837oilyxa.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
  font-family: "Hannari"; 
  animation: SlideIn 1.6s;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
  animation: SlideIn 10s;
}

.side_contents {
  font-size: 2.5vh;
  font-family: 'Economica', sans-serif;
  line-height: 40px;
}

.impact{
  color: brown;
  animation: SlideIn 5s;
}

.store-btn {
  display: flex;
  margin-top: 30px;
}




.side-bar {
  background-color: #253141;
  width: 15vw;
  height: 100vh;
}

.side-bar-header {
  background-color: #253141;
  height: 120px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 120px);
  padding: 0 20px;
  overflow: scroll;
  color: #fff;
}

