a {
  text-decoration: none;
}

.main {
  display: flex;
}

.icon {
  width: 12vw;
  margin-right: 5vw;
}


.mini-icon {
  width: 2.5vw;
  padding-left:2vw;
  position: absolute;
  right:-3vw;
  top: -0.5vh;
}

.title-contents {
  width: 85vw;
  height: 100vh;
  background-image: image-url('publicdomainq-0003837oilyxa.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
  font-family: "Hannari"; 
  animation: SlideIn 1.6s;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
  animation: SlideIn 8s;
}

.impact{
  color: brown;
  animation:  SlideIn 5s;
}

.store-btn {
  display: flex;
  margin-top: 30px;
}




.side-bar {
  background-color: #253141;
  width: 15vw;
  height: 100vh;
}

.side-bar-header {
  height: 120px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.side-bar-fotter {
  background-color: #2F3E51;
  height: calc(100vh - 120px);
  padding: 0 20px;
  overflow: scroll;
  color: #fff;
  list-style: none;
}

.side-contents{
  text-decoration: none;
  margin-right: 1vw;
  color:#fff;
  font-size: 3vh;
  font-family: 'Economica', sans-serif;
  line-height: 50px;
  position: relative;
}




//新規投稿
.book-main{
  display: flex;
  font-family: "Hannari"; 
}


.book-main-contents {
  width: 100%;
  min-width: 800px;
  height: 100vh;
  display: flex;
  justify-content:flex-start;
  border: 2px brown solid;
  background-image: image-url('publicdomainq-0003837oilyxa.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.back-btn{
  font-size: 5vh;
  color: #fff;
  display: block;
  border: 2px brown solid;
}


.book-wrap {
  width: 60%;
  border: 2px brown solid;
}

.book-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 4vh;
}

.book-header-text {
  line-height: 100px;
  font-weight: bold;
  color: #fff;
  animation: SlideIn 1.2s;
}

.book-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin:0 auto;
  animation: SlideIn 2.8s;
}

.book-text-wrap {
  width: 100%;
  height: 20%;
}

.book-text {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}




//一覧表示

.books-main {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

 }

 .books-contents {
  font-size: 2.5vh;
  color: #fff;
  border: 2px brown solid;
 }