.user-contents {
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}


.user-text {
  font-size: 3vh;
  font-weight: bold;
  color: #fff;
}





.user-books {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}