.user-contents {
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}


.user-text {
  font-size: 3vh;
  display: table;
  color: #fff;
}


.user-books {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  animation: SlideIn 6.6s;
}

.profile-default {
  width: 100%;
  margin-top: 5px;
  height: 50px;
  padding: 5px 0px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color:rgba(255,255,255,0.6);
  font-size: 16px;
  resize: none;
}

.user-icon {
  width:  70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 5px;
  transform: translateY(40%);
  border: 2px solid #422924; 
}


.filelabel {
  width:  70px;
  height: 70px;
  border-radius: 50%;
  transform: translateY(0%);
  border: 2px solid #422924; 
  object-fit: contain;
  background-image: image-url('icon_camera.png');
  background-size:40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.filelabel img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}



.filelabel:hover {
  opacity: 0.5;              /* 半透明 */
  border: 2px solid red;     /* 枠線(赤色) */
  cursor: pointer;           /* マウス形状(ポインタ) */
}
.user-f-image {
  display: none;  /* 本来のファイル選択フォームは非表示に */
}