.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  animation: SlideIn 2s;
}

.login-red-btn {
  width: 50%;
  background: brown;
  border: 1px solid brown;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 25%;
}

.login-flash-message {
  text-align: center;
  color: red;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}