.form-main{
  display: flex;
  font-family: "Hannari"; 
}


.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100vh;
  display: flex;
  justify-content:flex-start;
  border: 2px brown solid;
}

.form-wrap {
  width: 60%;
  border: 2px brown solid;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  font-weight: bold;
  color: #fff;
  animation: SlideIn 1.2s;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin:0 auto;
  animation: SlideIn 2.8s;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 30px;
  padding: 10px 0px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background:snow;
  font-size: 16px;
  resize: none;
}

.input-select{
  width: 100%;
  margin-top: 5px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background:snow;
  font-size: 16px;
  resize: none;
}

.info-text {
  color:#fff;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 10px auto;
  animation: SlideIn 2.8s;
}

.register-red-btn {
  width: 50%;
  background: brown;
  border: 1px solid brown;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 25%;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}



@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}